<!-- views/index.ejs -->
<!doctype html>
<html>

<head>

	<title>Connect Concordia</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="allstyles.css">
    <!-- load bootsrap css -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="cc-favicon.png">
    <!-- load fontawesome -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- load fontawesome -->
    <!-- load fontawesome -->
	
	
    <style>
	
		.funkyradio div {
			clear: both;
			overflow: hidden;
		}

    
		.funkyradio label {
			width: 100%;
			border-radius: 3px;
			border: 1px solid #D1D3D4;
			font-weight: normal;
		}

		.funkyradio input[type="radio"]:empty,
		.funkyradio input[type="checkbox"]:empty {
			display: none;
		}

		.funkyradio input[type="radio"]:empty ~ label,
		.funkyradio input[type="checkbox"]:empty ~ label {
			position: relative;
			line-height: 2.5em;
			text-indent: 3.25em;
			  margin-top: 0em;
			  cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.funkyradio input[type="radio"]:empty ~ label:before,
		.funkyradio input[type="checkbox"]:empty ~ label:before {
			  position: absolute;
			  display: block;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  content: '';
			  width: 2.5em;
			  background: #8f2539;
			  border-radius: 3px 0 0 3px;
		}

		.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
		.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
			color: #888;
		}

		.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
		.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
			  content: '\2714';
			  text-indent: .9em;
			  color: #C2C2C2;
		}

		.funkyradio input[type="radio"]:checked ~ label,
		.funkyradio input[type="checkbox"]:checked ~ label {
			color: #FFFFFF;
		}

		.funkyradio input[type="radio"]:checked ~ label:before,
		.funkyradio input[type="checkbox"]:checked ~ label:before {
			  content: '\2714';
			  text-indent: .9em;
			  color: #333;
			  background-color: #FFFFFF;
		}

		.funkyradio input[type="radio"]:focus ~ label:before,
		.funkyradio input[type="checkbox"]:focus ~ label:before {
			box-shadow: 0 0 0 3px #999;
		}

		.funkyradio-default input[type="radio"]:checked ~ label:before,
		.funkyradio-default input[type="checkbox"]:checked ~ label:before {
			  color: #333;
			  background-color: #FFFFFF;
		}

		.funkyradio-primary input[type="radio"]:checked ~ label:before,
		.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
			  color: #333;
			  background-color: #FFFFFF;
		}

		.funkyradio-success input[type="radio"]:checked ~ label:before,
		.funkyradio-success input[type="checkbox"]:checked ~ label:before {
			  color: #333;
			  background-color: #FFFFFF;
		}
		
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
				
		form {
			padding: 3px;
			width: 100%;
			font-size:20px;
		}
				
		form input {
			border: 0;
			padding: 10px;
			width: 90%;
			margin-right: .5%;
		}
				
		#messages {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
				
		#messages li {
			padding: 5px 10px;
		}
				
		#messages li:nth-child(odd) {
			background: #eee;
		}
				
		body {
				background-image: url("background-students.jpg");
                background-color:#808080;
                background-attachment:fixed;
                background-repeat: no-repeat;
                background-size: cover;
				font-family: "Lato", sans-serif;
				color: white;
		}
				
		
		.info{
			margin-top: 30px;
			position:absolute;
			right:3.5%;
			width:70%;
			padding:80px;
			font-size:22px;
			text-align: justify;
			color:white;
			background:rgba(143,37,57,0.8);
		}
		
		
		
		.footer {
		  position: fixed;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1rem;
		  /*background-color: #efefef;*/
		  text-align: center;
		  color:grey;
		}
		
		h1{
			font-size: 50px;
			color:rgb(202,181,118);
		}
		
		p{
			margin: 0;
			padding: 0;
			color: white;
		}
		
		.button {
			background-color: rgb(202,181,118); 
			border: none;
			color: white;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
		}
		
		.button:hover {
			color: black;
			text-decoration: none;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
		}
	
    </style>
</head>

<body>


	<div id="topbar"><img src="logo2.png" id="logo" alt="Logo"></div>
	<div id="wrapper">
		<div id="sidebar">
		<!-- SIDEMENU -->
			<div class="nav-side-menu">
			<div class="brand">Navigation</div>
			<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
		  
				<div class="menu-list">
		  
					<ul id="menu-content" class="menu-content collapse out">
						<li>
						  <a href="/main">
						  <i class="fa fa-dashboard fa-lg"></i> Dashboard
						  </a>
						</li>

						<li>
						  <a href="/chat">
						  <i class="fa fa-users fa-lg"></i> Chat with Professor/Student
						  </a>
						</li>
						
						<li>
						  <a href="/forum">
						  <i class="fa fa-users fa-lg"></i> Forum
						  </a>
						</li>
						
						<li>
		                  <a href="/surveys">
		                  <i class="fa fa-bar-chart fa-lg"></i> Surveys
		                  </a>
		                </li>

						<li>
							<a href="/editProfile">
							<i class="fa fa-user fa-lg"></i> My Profile
							</a>
						</li>
						  
						<li>
						  <a href="/logout">
						  <span class="fa fa-user"></span><span id ="logout"> Logout</span>
						  </a>
						</li>
		 
					</ul>
				</div>
			</div>
		</div>
		
		<div id="main">
			<!-- Title -->
			<div class="title">
				<h1>Survey Questions</h1>
			</div>
			
<div class="content">
    <div class="info">
  <h1 align="center"><span class="text-center"></span> Survey Questions: <%= surveyMakerName %></h1>
<!-- show any messages that come back with authentication -->
            
     <div id="form">
        <form action="/surveys-s2">

    <div class="form-group">

<% for(var i = 1, qCount = 1; i <= 5; ++i) { %>
      <% if(survey['Question_'.concat(i)] == "") {%>
          <% continue; %>
      <% }%>

           <h2>Question <%= qCount %></h2>
           <% qCount++;%>
            <h4><%= survey['Question_'.concat(i)] %></h4>
            
    <div class="funkyradio">
        <div class="funkyradio-default">
            <input type="radio" name=<%="radio".concat(i) %> id=<%="radio1_".concat(i) %> value="StronglyAgree" required/>
            <label for=<%="radio1_".concat(i) %>>Strongly Agree</label>
        </div>
        <div class="funkyradio-primary">
            <input type="radio" name=<%="radio".concat(i) %> id=<%="radio2_".concat(i) %> 
            value="Agree" required/>
            <label for=<%="radio2_".concat(i) %>>Agree</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name=<%="radio".concat(i) %> id=<%="radio3_".concat(i) %> 
            value="SomewhatAgree" required/>
            <label for=<%="radio3_".concat(i) %>>Somewhat Agree</label>
        </div>
        <div class="funkyradio-success">
            <input type="radio" name=<%="radio".concat(i) %> id=<%="radio4_".concat(i) %> 
            value="Neither Agree or Disagree" required/>
            <label for=<%="radio4_".concat(i) %>>Neither Agree or Disagree</label>
        </div>   
        <div class="funkyradio-success">
            <input type="radio" name=<%="radio".concat(i) %> id=<%="radio5_".concat(i) %>
            value="Disagree" required/>
            <label for=<%="radio5_".concat(i) %>>Disagree</label>
        </div>
         <div class="funkyradio-success">
            <input type="radio" name=<%="radio".concat(i) %> id=<%="radio6_".concat(i) %> 
            value="Strongly Disagree" required/>
            <label for=<%="radio6_".concat(i) %>>Strongly Disagree</label>

        </div>
    </div>
    <% } %>
</div>

             <br/>
        <h4>Please include any additional comments below</h4>
             <br/>
        <div class="funkyradio">

    <div class="form-group">
      <textarea class="form-control" rows="10" id="comment" name="mylittletextbox"></textarea>
    </div>
        </div>

    <div id="buttons">
            <button name="surveyMaker" value="<%= surveyMakerName %>"class="button">Submit</button>
    </div>  
    </form>

					<hr>
					<p>Return <a href="/main">Home</a></p>
				</div>
			</div>
		</div>
	</div>
	
</body>

</html>
